<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="SuiteAccount">
      <section name="EventStore" type="SuiteAccount.Configuration.EventStoreSectionHandler, SuiteAccount.Configuration" />
      <section name="MongoDb" type="SuiteAccount.Configuration.MongoDbSectionHandler, SuiteAccount.Configuration" />
      <section name="SuiteToken" type="SuiteAccount.Configuration.SuiteTokenSectionHandler, SuiteAccount.Configuration" />
    </sectionGroup>
  </configSections>
  <SuiteAccount>
    <EventStore uri="127.0.0.1" port="2113" user="admin" password="changeit"></EventStore>
    <MongoDb uri="mongodb://localhost" port="27017"></MongoDb>
    <SuiteToken duration="240"></SuiteToken>
  </SuiteAccount>
  <connectionStrings>
    <add name="QueryContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SuiteAccount;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>